<ul class="comments_list">
<% bet.comments.each do |comment| %>
<li class="comment group">
  <div class="comment_thumbnail"><%= image_tag comment.author.profile_pic.url(:thumb), :id => "profile_pic" %>
  </div>
  <div class="comment_content">
    <p>
      <%= comment.author.abbrev_name %>: <%= comment.text %><br>
      <time><%= comment.updated_at %></time>
    </p>
  </div>
</li>
<% end %>
</ul>

<form action="<%= bet_comments_url(bet.id) %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <textarea name="comment[text]">add some text here</textarea>

  <input type="submit" value="Add Comment">
</form>
