<% action = (bet.persisted? ? bet_url(bet) : user_bets_url(current_user)) %>
<% method = (bet.persisted? ? "put" : "post") %>
<% message = (bet.persisted? ? "Update Bet" : "Create Bet") %>


<form action="<%= action %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">

  <%= current_user.abbrev_name%>. bets
  <br>

  <input type="hidden" name="bet_participation[user_id][]" value="">
   <% if bet.persisted? %>
   <% bet.participants.each do |participant| %>
     <input
       checked
       id="bet_participant_id_<%= participant.id %>"
       name="bet_participation[user_id][]"
       value="<%= participant.id %>"
       type="checkbox">
     <label for="bet_participant_id_<%= participant.id %>"><%= participant.first_name %> <%= participant.last_name %></label>
     <br>
     <% end %>
     <% end %>

  <% current_user.friends.each do |friend| %>
  <% next if bet.participants.include?(friend) %>
    <input
      <%= "checked" if bet.participants.include?(friend) %>
      id="bet_participant_id_<%= friend.id %>"
      name="bet_participation[user_id][]"
      value="<%= friend.id %>"
      type="checkbox">
    <label for="bet_participant_id_<%= friend.id %>"><%= friend.first_name %> <%= friend.last_name %></label>
    <br>
    <% end %>
    <label for="new_users">Invite other friends:</label><br>
    <textarea placeholder="example@gmail.com, example2@gmail.com, ..." id="new_users" name="new_user_emails"></textarea>

    <br>
    that...
    <br>
  <textarea name="bet[terms]"><%= bet.persisted? ? bet.terms : "he can program chess faster" %></textarea>
  <br>
  <br>
  Loser has to...
  <br>
  <textarea name="bet[wager]"><%= bet.persisted? ? bet.wager : "eat everything in the App Academy mini-fridge" %></textarea>
  <br>
  <input
    <%= "checked" if bet.private %>
    id="bet_private"
    name="bet[private]"
    value=true
    type="checkbox">
  <label for="bet_private">Private</label>
  <br><br>

  <% if bet.persisted? %>
  <label for="bet_status">Status</label>
  <select id="bet_status" name="bet[status]">
    <option value="pending">Pending</option>
    <option value="in play">In Play</option>
    <option value="completed">Completed</option>
    <option value="cancelled">Cancelled</option>
  </select>

  Results:<br>
  Select Winner(s):<br>
  <input type="hidden" name="bet_winner[user_id][]" value="">
   <% bet.participants.each do |participant| %>
     <input
       id="bet_winner_id_<%= participant.id %>"
       name="bet_winner[user_id][]"
       value="<%= participant.id %>"
       type="checkbox">
     <label for="bet_winner_id_<%= participant.id %>"><%= participant.first_name %> <%= participant.last_name %></label>
     <br>
     <% end %>

   Select Loser(s):<br>
   <% bet.participants.each do |participant| %>
   <input type="hidden" name="bet_loser[user_id][]" value="">
     <input
       id="bet_loser_id_<%= participant.id %>"
       name="bet_loser[user_id][]"
       value="<%= participant.id %>"
       type="checkbox">
     <label for="bet_loser_id_<%= participant.id %>"><%= participant.first_name %> <%= participant.last_name %></label>
     <br>
     <% end %>

  <% end %>

  <input type="submit" value="<%= message %>">
</form>
