<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? "put" : "post") %>
<% message = (user.persisted? ? "Update user" : "Create user") %>

<form action="<%= action %>" enctype="multipart/form-data" method="post">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="user_first_name">First Name</label>
  <input
    id="user_first_name"
    name="user[first_name]"
    value="<%= user.first_name %>"
    type="text">
  <br>

  <label for="user_last_name">Last Name</label>
  <input
    id="user_last_name"
    name="user[last_name]"
    value="<%= user.last_name %>"
    type="text">
  <br>

  <label for="user_username">Username</label>
  <input
     id="user_username"
     name="user[username]"
     value="<%= user.username %>"
     type="text">
  <br>

  <label for="user_password">Password</label>
  <input
     id="user_password"
     name="user[password]"
     type="password">
  <br>
  <br>
  Current Profile Picture:<br>
  <% if user.profile_pic.present? %>
    <%= image_tag user.profile_pic.url(:small) %><br>
  <% end %>
  <label for="user_profile_pic">Upload New Picture</label><br>
  <input type="file" id="user_profile_pic" name="user[profile_pic]">
  <br>
  <br>
  <input type="submit" value="<%= message %>">
</form>
