<section class="user-details">
  <div class="user-show-pic"><%= image_tag user.profile_pic.url(:medium) %></div>
<ul class="user-details-list">
	<li><%= user.first_name %> <%= user.last_name %></li>
	<li><%= user.username %></li>
	<li>   
		<ul class="user-stats group">
      <li class="total-count">
        <div class="stat-value"><%= user.bets.count %></div>
        <div class="stat-header">Total Bets</div>
      </li>
      <li class="inplay-count">
        <div class="stat-value"><%= user.inplay_bets.count %></div>
        <div class="stat-header">In Play</div>
      </li>
      <li class="win-count">
        <div class="stat-value"><%= user.bets_won.count %></div>
        <div class="stat-header">Won</div>
      </li>
    </ul>
	</li>
</ul>
</section>
<% if user.friends.include?(current_user) %>
<div class="bets">
  <header class="group">

    <% if !bets || bets.empty? %>
    <div class="no-bets">User has No Bets</div>
    <% else %>
    <ul class="bets-list" id="user-show-bets-feed">
      <%= render "bets/display_bets" %>
    </ul>
    <% end %>

  </header>
</div>
<% end %>