<script>

$(document).ready(function(event) {

  //changes feeds
  $("#feeds-list").on("ajax:success", "a", function(event, data) {
    console.log(data);
    $("#bets-feed").html(data);
  });

  $("#profile-name").on("click", "a", function(event) {
    event.preventDefault();
    console.log(event)
    $('.user-edit-form').removeClass("hidden");
  });

  $("#profile-picture").on("click", "a", function(event) {
    event.preventDefault();
    console.log(event)
    $('.user-edit-form').removeClass("hidden");
  });

});

</script>
<header class="header">
  <div class="header-wrap group">
    <h1 class="header-logo">
      <a href='#'>Yibs</a>
    </h1>

    <nav class="header-nav">
      <ul>
        <li class="notifications-label"><a href='<%= notifications_user_url(current_user) %>'>Notifications</a>
          <div class="hover-menu">
            <div class="uparrow"></div>
            <div class="menu-title">Notifications:</div>
            <ul class="group">
              <%= render '/users/notifications', :notifications =>
               @notifications %>
            </ul>
          </div>
        </li>

        <li class="settings-label">
          <a href='<%= edit_user_url(current_user) %>'>Settings</a>
          <div class="hover-menu">
            <div class="uparrow"></div>
            <ul class="group">
              <li><a href="#">Account Settings</a></li>
              <li><%= button_to "Log Out", session_url, :method => :delete %>Log Out</a></li>
            </ul>
          </div>
        </li>

        <li><a href='<%= new_user_bet_url(current_user) %>'>+</a></li>
      </ul>
    </nav>

  </div>
</header>

<div class="content group">
  <%= render '/users/edit' %>
  <section class="user-dashboard">

    <div class="profile-picture">
      <a href='#'>
     <%= image_tag @user.profile_pic.url(:small), :id => "profile_pic" %>
     </a>
    </div>

    <div class="profile-name" id="profile-name">
      <a href=''>
      <p>
        <span class="name-profile"><%= @user.first_name %> <%= @user.last_name %></span></br>
        <span class="edit-profile">Edit Account<span>
      </p></a>
    </div>

    <div class="profile-info">
      <ul class="group">
        <li class="total-count">
          <div class="stat-value"><%= @user_bet_count %></div>
          <div class="stat-header">Total Bets</div>
        </li>
        <li class="inplay-count">
          <div class="stat-value"><%= @user_inplay_count %></div>
          <div class="stat-header">In Play</div>
        </li>
        <li class="win-count">
          <div class="stat-value"><%= @user_win_count %></div>
          <div class="stat-header">Won</div>
        </li>
      </ul>
      <a href='<%= new_user_bet_url(current_user) %>'><div class="add-bet-button">Add New Bet</div></a>
    </div>
  </section>

  <div class="content-main">
    <header class="content-header group">
      <div class="pre-feeds-title">Bets: </div>
      <ul class="feeds-list" id="feeds-list">
        <li class="feeds-list-item"><a href="<%= community_bets_url %>" data-remote="true">Community</a></li>
        <li class="feeds-list-item"><a href="<%= inplay_bets_url %>" data-remote="true">In Play</a></li>
        <li class="feeds-list-item"><a href="<%= pending_bets_url %>" data-remote="true">Pending</a></li>
        <li class="feeds-list-item"><a href="<%= completed_bets_url %>" data-remote="true">Completed</a></li>
      </ul>
    </header>

    <div class="bets">
      <header class="group">

        <ul class="bets-list" id="bets-feed">
          <%= render "bets/display_bets", :bets => @community_bets %>
        </ul>

      </header>
    </div>
  </div>

</div>

