<script>

$(document).ready(function(event) {

  //changes feeds
  $('#feeds-list').on('ajax:success', 'a', function(event, data) {
    $('#bets-feed').html(data);
  });

  //Trigger logout
  // $('.trigger-log-out').on('click', function(event) {
  //   event.preventDefault();
  //   console.log(event.currentTarget);
  //   console.log(this)
  //   var url = $(this).children('form').attr("action");
  //   $.ajax ({
  //     method: "delete",
  //     url: url,
  //     dataType: "html",
  //     success: function() {
  //       $(event.currentTarget).siblings('.comments-list').append(data)
  //       $(event.currentTarget).children('form')[0].reset();
  //     }
  //   })
  // })

  //Trigger edit-user pop-up when relevant clicks made
  $('.trigger-user-edit-form').on('click', 'a', function(event) {
    event.preventDefault();
    $('.user-edit-form').removeClass('hidden');
    $('.dimmer').removeClass('hidden');
  });

  $('.link-name').on('ajax:success', 'a', function(event, data) {
    event.preventDefault();
    $('#user-show-content').html(data);
    $('.user-show-form').removeClass('hidden');
    $('.dimmer').removeClass('hidden');
  })

  //Trigger pop-up for notification
  $('.notifications-link').on('ajax:success', 'a', function(event, data) {
    event.preventDefault();
    link = $(event.currentTarget).attr('href')
    if ( link.indexOf('bet') != -1 ) {
      $('#bet-show-content').html(data);
      $('.bet-show-form').removeClass('hidden');
      $('.dimmer').removeClass('hidden');
    } else if ( link.indexOf('user') != -1 ) {
      $('#user-show-content').html(data);
      $('.user-show-form').removeClass('hidden');
      $('.dimmer').removeClass('hidden');
    }
  })

  //Trigger new-bet pop-up when relevant clicks made
  $('.trigger-add-bet-form').on('click', function(event) {
    event.preventDefault();
    $('.new-bet-form').removeClass('hidden');
    $('.dimmer').removeClass('hidden');
  });

  //Remove lightbox and pop-up when user hits 'x' or presses escape
  $('.form-header').on('click', '.x-button', function(event) {
    event.preventDefault();
    $(this).parent().parent().addClass('hidden');
    $('.dimmer').addClass('hidden');
  })

  // attach new comment upon pressing enter
  $('.new-comment').keypress(function(event) {
    if ( event.which == 13 ) {
      event.preventDefault();

      var url = $(this).children('form').attr('action')
      var text = $(this).children('form').children('textarea').val()
      $.ajax ({
        method: "POST",
        url: url,
        data: {
          "comment[text]":text
        },
        dataType: "html",
        success: function(data) {
          $(event.currentTarget).siblings('.comments-list').append(data)
          $(event.currentTarget).children('form')[0].reset();
        }
      })
    }
  })

  $('.search-form').on('ajax:success', function(event, data){
    $('#friendship-show-content').html(data);
    $('.friendship-show-form').removeClass('hidden');
    $('.dimmer').removeClass('hidden');
  })

  // Friends Search-form stuff
  $('.search-form input').focus( function() {
    console.log("in focus!");
    $('.trigger-search-query').keyup(function(event) {
      var url = $(this).attr('action')
      url = url + "_friends"
      console.log(url)
      var data = $(this).children('input#search-query').val()
      var that = this
      console.log(this)
      console.log(data)
      $.ajax ({
        method: "GET",
        url: url,
        data: {"query": data},
        success: function(data) {
          console.log(data)
          $(that).siblings('div').html(data)
          $(that).siblings('div').removeClass('hidden');
        }
      })
    })
  })

  // $('.search-friends-section').focusout( function(event) {
  //   $(this).children('div.search-drop-down').addClass('hidden')
  //   // $(this).parent().siblings('div').addClass('hidden');
  // })

  $('.search-drop-down').on('ajax:success', 'a', function(event, data) {
    event.preventDefault();
    $('#user-show-content').html(data);
    $('.user-show-form').removeClass('hidden');
    $('.dimmer').removeClass('hidden');
  })


  $(document).keyup(function(event) {
    if( event.which == 27 ) {
      event.preventDefault();
      $('.light-box-form').addClass('hidden');
      $('.dimmer').addClass('hidden');
    }
  })

  // $('body').keypress(function(event) {
//     console.log("key pressed");
//     console.log(event.which);
//     if( event.which == 27 ) {
//       event.preventDefault();
//       $('.light-box-form').addClass('hidden');
//       $('.dimmer').addClass('hidden');
//     }
//
//   })

});

</script>
<div class="dimmer hidden" id="dimmer"></div>
<header class="header">
  <div class="header-wrap group">
    <h1 class="header-logo">
      <a href='#'>Yibs</a>
    </h1>

    <nav class="header-nav">
      <ul>
        <li class="notifications-label"><a href='<%= notifications_user_url(current_user) %>'>Notifications</a>
          <div class="hover-menu">
            <div class="uparrow"></div>
            <div class="menu-title">Notifications:</div>
            <ul class="group">
              <%= render '/users/notifications', :notifications =>
               @notifications %>
            </ul>
          </div>
        </li>

        <li class="settings-label trigger-user-edit-form">
          <a href='<%= edit_user_url(current_user) %>'>Settings</a>
          <div class="hover-menu">
            <div class="uparrow"></div>
            <ul class="group">
              <li class="trigger-user-edit-form"><a href="<%= edit_user_url(current_user) %>">Account Settings</a></li>
              <li class="sign-out-menu-item trigger-log-out"><%= button_to "Sign Out", session_url, method: :delete %></li>
            </ul>
          </div>
        </li>

        <li class="trigger-add-bet-form"><a href='<%= new_user_bet_url(current_user) %>'>+</a></li>
      </ul>
    </nav>

  </div>
</header>

<div class="content group">
  <%= render '/users/edit_lightbox' %>
  <%= render '/bets/new_lightbox' %>
  <%= render '/bets/show_lightbox' %>
  <%= render '/users/show_lightbox' %>
  <%= render '/friendships/show_lightbox' %>

  <section class="user-dashboard">
    <div class="profile-picture">
      <a href='#'>
     <%= image_tag @user.profile_pic.url(:small), :id => "profile_pic" %>
     </a>
    </div>

    <div class="profile-name trigger-user-edit-form">
      <a href='#'>
      <p>
        <span class="name-profile"><%= @user.first_name %> <%= @user.last_name %></span><br>
        <span class="edit-profile">Edit Account</span>
      </p></a>
    </div>

    <div class="profile-info">
      <ul class="group">
        <li class="total-count">
          <div class="stat-value"><%= @user_bet_count %></div>
          <div class="stat-header">Total Bets</div>
        </li>
        <li class="inplay-count">
          <div class="stat-value"><%= @user_inplay_count %></div>
          <div class="stat-header">In Play</div>
        </li>
        <li class="win-count">
          <div class="stat-value"><%= @user_win_count %></div>
          <div class="stat-header">Won</div>
        </li>
      </ul>
      <div class="add-bet-button trigger-add-bet-form"><a href='<%= new_user_bet_url(current_user) %>'>Add New Bet</a></div>
    </div>
  </section>


  <div class="content-main">
    <header class="content-header group">
      <div class="pre-feeds-title">Bets: </div>
      <ul class="feeds-list" id="feeds-list">
        <li class="feeds-list-item"><a href="<%= community_bets_url %>" data-remote="true">Community</a></li>
        <li class="feeds-list-item"><a href="<%= inplay_bets_url %>" data-remote="true">In Play</a></li>
        <li class="feeds-list-item"><a href="<%= pending_bets_url %>" data-remote="true">Pending</a></li>
        <li class="feeds-list-item"><a href="<%= completed_bets_url %>" data-remote="true">Completed</a></li>
      </ul>
    </header>

    <div class="bets">
      <header class="group">

        <ul class="bets-list" id="bets-feed">
          <%= render "bets/display_bets", :bets => @community_bets %>
        </ul>

      </header>
    </div>
  </div>

  <section class="friendship-dashboard">

    <div class="search-friends-section">
      Search Friends:
      <%= render '/friendships/drop_down_form' %>
    </div>

  </section>

</div>

