<h1><%= @user.abbrev_name %>.'s show page</h1>
<section class="user_details">
<%= image_tag @user.profile_pic.url(:small) %>
<ul class="user_details">
	<li>Username: <%= @user.username %></li>
	<li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
	<li>Total Bets: <%= @user.bets.count %></li>
</ul>
</section>
<% if @user.friends.include?(current_user) %>
	<section class="user_bets">
		<p>
		  <%= render "/bets/display_bets", :bets => @bets %>
		</p>
	</section>
<% end %>