<!DOCTYPE html>
<html>
<head>
  <title>NewAuthDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header class="main_header group">
    <% if !current_user.nil? %>
        <span id="signout_button"><%= button_to "Logout", session_url, :method => :delete %></span>
        <%= render "/users/user_dashboard", :user => current_user %>
        <%= render "/bets/feeds_header" %>
    <% else %>
      <%= link_to "Sign In", new_session_url %>
      <% end %>
    </header>

    <section class="content">

    <%= yield %>

    </section>

  </div>
</body>
</html>
