<!DOCTYPE html>
<html>
<head>
  <title>NewAuthDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !current_user.nil? %>
  Hello <%= current_user.first_name %> <%= current_user.last_name %>!
    <%= button_to "Logout", session_url, :method => :delete %> <br>

    Bet Feeds: <%= link_to "Community", community_bets_url %> <%= link_to "Pending", pending_bets_url %> <%= link_to "In-Play", inplay_bets_url %> <%= link_to "Completed", completed_bets_url %>

<% else %>
  <%= link_to "Sign In", new_session_url %>
  <% end %>

<%= yield %>

</body>
</html>
